{% extends "base.html" %}

{% block xxxfiltermenu %}

<div id="filtermenu">
Showing 
<span class="dropdown dropdown-select" id="dropdown1">
  <button class="btn btn-default dropdown-toggle" type="button" id="filtermenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    new papers and blog posts
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new blog posts</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers and blog posts</a></li>
  </ul>
</span>
in
<span class="dropdown dropdown-select" id="dropdown2">
  <button class="btn btn-default dropdown-toggle" type="button" id="filtermenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    all areas of philosophy
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new blog posts</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers and blog posts</a></li>
  </ul>
</span>


<script>

$('#dropdown1').on('click', '.dropdown-menu li a', function() { 
  var target = $(this).html();

	   //Adds active class to selected item
	   $(this).parents('.dropdown-menu').find('li').removeClass('active');
	   $(this).parent('li').addClass('active');

	   //Displays selected text on dropdown-toggle button
	   $(this).parents('.dropdown-select').find('.dropdown-toggle').html(target + ' <span class="caret"></span>');
	});

</script>

<!--form name="filterform" id="filterform" action="{{ rootdir }}" method="GET" onsubmit="return false">
  <select size="1" name="type" onchange="updateDocList()">
    <option value="all">new papers and blog posts</option>
    <option value="papers"{% if doctype = 'papers' %} selected="selected"{% endif %}>new papers</option>
    <option value="blogposts"{% if doctype = 'blogposts' %} selected="selected"{% endif %}>new blog posts</option>
  </select>
  in
</form-->
</div>

{% endblock %}

{% block content %}

<div id="maindiv" class="col-md-9">
  <ol class='doclist'>
  {% for doc in docs %}
    <li{% if doc.hidden %} class="dochidden" {% endif %}>
      <div class='daysep'>{{ doc.deltadate }}</div>
      {% if request.user.is_staff %}
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#editModal" onclick="edit({{ doc.doc_id }})">Edit</button>
      {% endif %}
      <div class='iAuthor'>
        <a href='{{ doc.url }}' id='authors{{doc.doc_id}}'>{{ doc.authors }}</a>
      </div>
      <div class='iTitle'>
        <a href='{{ doc.url }}' id='title{{doc.doc_id}}'>{{ doc.title|safe }}</a>
      </div>
      <div class='iUrl'>
        <a href='{{ doc.url }}'>{{ doc.short_url|safe }} ({{ doc.filetype|upper }}, {{ doc.numwords }} words)</a>
      </div>
      <div class='iAbstract' id='abstract{{doc.doc_id}}'>{{ doc.abstract|safe }}</div>
      {% if doc.topics %}
      <div class='iTopics'>
        {% for topic, strength in doc.topics %}
           <a class='iTopic{{strength}}' href='{{ rootdir}}t/{{ topic|lower }}'>{{ topic }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class='iFooter'>
        <span>Found {{ doc.found_date|timesince }} ago on <a href="{{ doc.source_url }}">{{ doc.source_name }}</a></span>
        {% if request.user.is_staff %}
          <span>[doc {{ doc.doc_id }}]</span>
          <span>[conf {{ doc.meta_confidence }}]</span>
          <span>[paper: {{ doc.is_paper }}]</span>
          <span>[phil: {{ doc.is_philosophy }}]</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
  <nav>
    <ul class="pager">
      {% if docs.has_previous %}
        <li><a href="{% url 'index_page' docs.previous_page_number %}">Newer Entries</a></li>
      {% endif %}
      {% if docs.has_next and docs.number < 10 %}
        <li><a href="{% url 'index_page' docs.next_page_number %}">Older Entries</a></li>
      {% endif %}
    </ul>
  </nav>

</div>

<div id="sidebar" class='col-md-3'>
</div>

{% if request.user.is_staff %}
<!-- Modal -->
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="editform" action="/edit-doc" method="post">
        {% csrf_token %}
        <input type="hidden" name="doc_id" id="id_doc_id" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit entry</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="id_authors">Authors:</label>
            <input id="id_authors" maxlength="255" name="authors" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="id_title">Title:</label>
            <input id="id_title" maxlength="255" name="title" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="id_abstract">Abstract:</label>
            <textarea id="id_abstract" name="abstract" class="form-control" rows="10"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submit_edit()">Save Changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submit_edit(1)">Discard Entry</button>
          <!--button type="submit" value="save" class="btn btn-primary">Save Changes</button>
          <button type="submit" value="discard" class="btn btn-primary">Discard Entry</button-->
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

