{% extends "base.html" %}

{% block xxxfiltermenu %}

<div id="filtermenu">
Showing 
<span class="dropdown dropdown-select" id="dropdown1">
  <button class="btn btn-default dropdown-toggle" type="button" id="filtermenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    new papers and blog posts
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new blog posts</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers and blog posts</a></li>
  </ul>
</span>
in
<span class="dropdown dropdown-select" id="dropdown2">
  <button class="btn btn-default dropdown-toggle" type="button" id="filtermenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    all areas of philosophy
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new blog posts</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">new papers and blog posts</a></li>
  </ul>
</span>


<script>

$('#dropdown1').on('click', '.dropdown-menu li a', function() { 
  var target = $(this).html();

	   //Adds active class to selected item
	   $(this).parents('.dropdown-menu').find('li').removeClass('active');
	   $(this).parent('li').addClass('active');

	   //Displays selected text on dropdown-toggle button
	   $(this).parents('.dropdown-select').find('.dropdown-toggle').html(target + ' <span class="caret"></span>');
	});

</script>

<!--form name="filterform" id="filterform" action="{{ rootdir }}" method="GET" onsubmit="return false">
  <select size="1" name="type" onchange="updateDocList()">
    <option value="all">new papers and blog posts</option>
    <option value="papers"{% if doctype = 'papers' %} selected="selected"{% endif %}>new papers</option>
    <option value="blogposts"{% if doctype = 'blogposts' %} selected="selected"{% endif %}>new blog posts</option>
  </select>
  in
</form-->
</div>

{% endblock %}

{% block body %}
  <ol class='doclist'>
  {% for doc in docs %}
    <li>
      <div class='daysep'>{{ doc.deltadate }}</div>
      <div class='iAuthor'>
        <a href='{{ doc.url }}' id='authors{{doc.doc_id}}'>{{ doc.authors }}</a>
      </div>
      <div class='iTitle'>
        <a href='{{ doc.url }}' id='title{{doc.doc_id}}'>{{ doc.title|safe }}</a>
      </div>
      <div class='iUrl'>
        <a href='{{ doc.url }}'>{{ doc.short_url|safe }} ({{ doc.filetype|upper }}, {{ doc.numwords }} words)</a>
      </div>
      <div class='iAbstract' id='abstract{{doc.doc_id}}'>{{ doc.abstract|safe }}</div>
      {% if doc.topics %}
      <div class='iTopics'>
        {% for topic, strength in doc.topics %}
           <a class='iTopic{{strength}}' href='{{ rootdir}}t/{{ topic|lower }}'>{{ topic }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class='iFooter'>
        <span>Found {{ doc.found_date|timesince }} ago on <a href="{{ doc.source_url }}">{{ doc.source_name }}</a></span>
        {% if admin %}
          <span>doc {{ doc.doc_id }}</span>
          <span>conf: {{ doc.meta_confidence }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
  <div id='nav'>
  </div>
{% endblock %}
