{% extends "base.html" %}

{% block content %}

<script>

  function msg(src_id, msg) {
    el = $('#res'+src_id);
    el.html(msg);
    el.show();
  }

  function track301(src_id, url) {
     $.ajax({
        url: '/sourcesadmin',
        type: 'POST',
        data: { source_id: src_id, action: 'get_new_url' },
        success: function(res) {
          msg(src_id, '<tt>'+url+'</tt> redirects to '+(url==res ? 'itself' : '<tt>'+res+'</tt>')
            +' <button type="button" onclick="approve301('+src_id+', \''+res+'\')">Approve new address</button>');
        }
     });
  }

  function approve301(src_id, new_url) {
     new_url = prompt('new url', new_url);
     if (!new_url) return;
     $.ajax({
        url: '/sourcesadmin',
        type: 'POST',
        data: { source_id: src_id, action: 'change_url', new_url: new_url },
        success: function(res) { msg(src_id, res); }
     });
  }
  
  function removesrc(src_id) {
     $.ajax({
        url: '/sourcesadmin',
        type: 'POST',
        data: { source_id: src_id, action: 'remove' },
        success: function(res) { msg(src_id, res); }
     });
  }
  
  function subscribesrc(src_id) {
     $.ajax({
        url: '/feedhandler/subscribe/'+src_id,
        type: 'GET',
        success: function(res) { msg(src_id, res); }
     });
  }

  function unsubscribesrc(src_id) {
     $.ajax({
        url: '/feedhandler/unsubscribe/'+src_id,
        type: 'GET',
        success: function(res) { msg(src_id, res); }
     });
  }
  
  function searchnew(string) {
     setCookie('sauthor', string);
     string += ' ~philosophy'
     window.open('https://www.google.com/#q='+string.replace(' ', '+'), '_blank');
  }
  
  function setCookie(key, val) {
    document.cookie = encodeURIComponent(key) + "=" + encodeURIComponent(val) + "; domain=philosophicalprogress.org";
  }

  function mark410(src_id) {
     $.ajax({
        url: '/sourcesadmin',
        type: 'POST',
        data: { source_id: src_id, mark_gone: 1 },
        success: function(res) { $('#res'+src_id).text(res) }
     });
  }
  </script>


  <h2>Tracked source pages</h2>
  
  {% for st in sourcetypes %}
      <h3>{{ st.heading }}</h3>
  <ol class='sources'>
  {% for src in st.sources %}
    <li value="{{ src.source_id }}">
      <a href='{{ src.url }}' class='src{{ src.status }}'>{{ src.name }}</a> [{{ src.num_links }} links, {{ src.num_docs }} docs]
      {% if src.status > 1 %}
        <b>status {{ src.status }}</b>
        {% if src.status == 301 %}
          <button type="button" onclick="track301({{ src.source_id }}, '{{ src.url }}')">get new address</button>
        {% endif %}
      {% endif %}
      {% if src.sourcetype == 'blog' %}
          <span>{% if not src.subscribed %}not {% endif %}subscribed</span>
          <button type="button" onclick="subscribesrc({{ src.source_id }})">Subscribe</button>
          <button type="button" onclick="unsubscribesrc({{ src.source_id }})">Unsubscribe</button>
      {% endif %}
      {% if 1 == 1 or src.status > 1 or src.num_docs == 0 %}
        <button type="button" onclick="removesrc({{ src.source_id }})">Remove</button>
        <button type="button" onclick="searchnew('{{ src.default_author }}')">Search for new site</button>
      {% endif %}
      <div id="res{{ src.source_id }}" style="display:none"></div>
    </li>
  {% endfor %}
  </ol>
  {% endfor %}

{% endblock %}
