/* general */

body { 
  padding:0; margin:0; background:#fafafa; color:#000; font-family:Arial,sans-serif;
}
a { color: #03b; }
a:visited { color:#50a; }

#headerwrap {
  background:#1c6699; border-bottom:1px solid #000;
}
#header {
  margin:0 auto 0 auto; max-width:800px; padding:0; overflow:auto; padding:15px 15px;
}
#header h1 {
  float:left; margin:0; font-size:200%; font-weight:normal;
}
#navig {
  float:right; padding:9px 0;
}
#navig span {
  padding-left:20px;
}
#header a {
  text-decoration: none; color:#fff;
}

#content {
  margin:20px auto 50px; max-width:800px; padding:0 15px; border-left:3px solid #;
}


.intro, .msg {
  display:none;
  margin:-10px 0px 50px 0px; padding:5px 20px; background:#f9f9f9; color:#333; line-height:1.5em; font-size:1em;
}
.flash {
  color:#c00;
}

/* main page */

#filtermenu { margin:30px 0; padding:10px 12px; background:#eee; border:1px solid #ccc; font-size:120%; }
#filtermenu select, #filtermenu input { font-size:80%; color:#036; }

ol.doclist {
  list-style: none;  margin-left: 0; padding-left: 0;
}
.doclist li {
  border-bottom: 1px solid #eee; padding: 15px 0px 15px 0;
}
.iClear { 
  clear: both; 
}
.iEdit {
  display:block; float:right; color:#fff; background:#bbb; padding:2px 5px; margin:3px; text-decoration:none;
}
.iEdit:visited { 
  color: #fff; 
}
.iTrain { 
  float: right; width: 30px; margin:0; text-align:center; color:#888; line-height:1em;
}
.iTrain span { font-size:90%; }
img.up { background:#999; }
img.down { background:#999; }
.iTrain img:hover { background:#1c6699; }

.iAuthor, .iTitle {
  line-height:150%;
}
.iAuthor a {
  color: #933; text-decoration: none; font-size:120%;
}
.iTitle a {
  text-decoration: none; font-size:140%; 
}
.iTitle a:hover {
  text-decoration: underline;
}
.iUrl a {
  color: #777; text-decoration: none; font-size: 90%;
}
.iAbstract {
  margin-top:3px; color: #444; line-height: 1.4; word-wrap: break-word; font-size: 90%;
}
.iTopics a {
  padding-right:1em; font-size:90%; text-decoration:none;
}
a.iTopic4 { color:#daa; }
a.iTopic5 { color:#c99; }
a.iTopic6 { color:#b77; }
a.iTopic7 { color:#a55; }
a.iTopic8 { color:#933; }
a.iTopic9 { color:#933; }
a.iTopic10 { color:#933; }

.iFooter {
  color: #669; font-size:small; margin-top:2px; 
}
.iFooter a {
  text-decoration:none;
}

.daysep { 
  display:none;
}
.daysepActive { 
  display:block; margin:-15px 0 15px 0; padding:6px 0px; border-top:1px solid #ddd; background:#f9f9f9; color:#666; font-size:120%;
}


#nav {
  margin:30px 0 30px; text-align: center;
}

#editDialog {
  position: fixed; top: 80px; left: 300px; width: 500px; height: 300px; padding: 20px; background: #eee; border: 2px solid #ccc; z-index: 9;
}
#editDialog h4 { margin:-20px -20px 10px -20px; padding:5px 20px; background:#999; color:#fff; font-size:120%; }
#editDialog #closeBtn { display:block; float:right; margin:-5px -20px; padding:6px; cursor:pointer; color:#fff; font-weight:bold; font-size:100%; }
#editDialog input[type="text"] { width:100%;}
#editDialog textarea { height:120px; width:100%; }


.error {
  color:#c00; font-weight:bold;
}
.broken {
  background:#fcc;
}
.spam {
  background:#ff9;
}
.unsure {
  background:#ccf;
}

.multicol {
   columns:3 10em;
   -moz-columns:3 10em;
   -webkit-columns:3 10em;
}
.sources a.src403 {
   color:#c90;
}
.sources a.src404 {
   color:#c00;
}
.sources a.src500 {
   color:#c09;
}
.sources a.src0 {
   color:#096;
}

.admin { color:#c00; }
.adminform { margin:0; padding:3px 0 0; color:#c00; font-size:0.9em; }
.adminform div { float:right; }
.adminform input, .adminform select { color:#c00; border:1px solid #c00 !important; font-size:0.9em; }
.adminform a { color:#c00; padding-right:1em; }
.status { color:#c00; width:100%; }

#loading { margin:30px; text-align:center; color:#999; }
#loading a { color:#88a; }

#prevnext { margin:0; padding:0 30px 30px; }
#prevnext a+a { padding-left:10px; }


#lbBox { display:none; position:absolute; top:50%; left:50%; z-index:10; width:600px; height:400px; margin:-220px 0 0 -300px; border:3px solid #666; background:#900; color:white; text-align:left; }
#lbBox[id]{ position:fixed; }
#lbContent { margin:20px; }
#lbContent table { margin:10px 0; width:100%; }
#lbContent table td { padding:5px 10px; }
#lbContent input[type="text"], #lbContent textarea { width:100%; }
#lbContent a { color:#ff9; }
#lbOverlay { display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:9; background-color:#ccc; -moz-opacity: 0.9; opacity:.90; filter:alpha(opacity=90); }
#lbOverlay[id]{ position:fixed; }

/* Signup and login forms */
form label {
  font-weight: bold; display: block; padding: 5px 0;
}
form input#username, form input#email, form input#password {
  width: 300px; background-color: #fafafa; border-radius: 3px; border: 1px solid #cccccc; padding: 5px;
}
form input#password {
  margin-bottom: 20px;
}
form input#submit {
  display: block; border-radius: 3px; border:1px solid #d8d8d8; padding: 10px; font-weight:bold; 
}
 

/* login */

#loginform { margin:30px; width:300px; }
#loginform label { width:80px; display:inline-block; }




/* pages tracked page */

#pageslist { }
#pageslist li { margin:10px 0; }
#pageslist li ul li { margin:0; }
#pageslist input { border:1px solid #eee; background:transparent; width:20em;}
#pageslist span { font-size:0.9em; color:#666; font-family:Arial,sans-serif; }

