/* general */

body { 
  padding:0; margin:0; background:#fff; color:#000; font-family:Arial,sans-serif;
}
a {
  color:#049; 
}
.msg {
  margin:20px 30px; color:#900;
}

#title {
  height:80px; border-bottom:1px solid #ccc; background:#dde0e3;
}
#title h1 { 
  margin:0; padding:20px 0; text-align:center; font-weight:normal;
}
#title h1 a {
  text-decoration:none; color: #049; 
}

#content {
  margin:0 auto 20px auto; max-width:800px;
}


/* main page */


ol.doclist {
  list-style: none;  margin-left: 0; padding-left: 0;
}
.doclist li {
  border-bottom: 1px solid #eee; padding: 15px 0px 15px 100px;
}
.iMeta {
  float: left; width: 90px; margin-left: -100px; text-align: center;
}
.iContent { 
  float: left; width: 100%;
}
.iClear { 
  clear: both; 
}

.iDate {
  color: #333; margin-top: 5px; font-size: 90%;
}
.iSize {
  color: #333; font-size: 90%;
}
.iTitle a {
  color: #01b; text-decoration: none; font-size:120%;
}
.iTitle a:hover {
  text-decoration: underline;
}
.iUrl a {
  color: #069; text-decoration: none; font-size: 90%;
}
.iAbstract {
  color: #444; line-height: 1.4; word-wrap: break-word; font-size: 90%;
}

#nav {
  margin:30px 0 30px; text-align: center;
}


.error {
  color:#c00; font-weight:bold;
}
.broken {
  border-left:5px solid #c66; padding:3px;
}
.spam {
  border-left:5px solid #c60; padding:3px;
}
.unsure {
  border-left:5px solid #cc0; padding:3px;
}
.normal {
  border-left:5px solid #9c9; padding:3px;
}

.admin { color:#c00; }
.adminform { margin:0; padding:3px 0 0; color:#c00; font-size:0.9em; }
.adminform div { float:right; }
.adminform input, .adminform select { color:#c00; border:1px solid #c00 !important; font-size:0.9em; }
.adminform a { color:#c00; padding-right:1em; }
.status { color:#c00; width:100%; }

#loading { margin:30px; text-align:center; color:#999; }
#loading a { color:#88a; }

#prevnext { margin:0; padding:0 30px 30px; }
#prevnext a+a { padding-left:10px; }


#lbBox { display:none; position:absolute; top:50%; left:50%; z-index:10; width:600px; height:400px; margin:-220px 0 0 -300px; border:3px solid #666; background:#900; color:white; text-align:left; }
#lbBox[id]{ position:fixed; }
#lbContent { margin:20px; }
#lbContent table { margin:10px 0; width:100%; }
#lbContent table td { padding:5px 10px; }
#lbContent input[type="text"], #lbContent textarea { width:100%; }
#lbContent a { color:#ff9; }
#lbOverlay { display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:9; background-color:#ccc; -moz-opacity: 0.9; opacity:.90; filter:alpha(opacity=90); }
#lbOverlay[id]{ position:fixed; }


/* login */

#loginform { margin:30px; width:300px; }
#loginform label { width:80px; display:inline-block; }


/* pages tracked page */

#pageslist { }
#pageslist li { margin:10px 0; }
#pageslist li ul li { margin:0; }
#pageslist input { border:1px solid #eee; background:transparent; width:20em;}
#pageslist span { font-size:0.9em; color:#666; font-family:Arial,sans-serif; }

/* edit page */

#editpage { background:#fff; }
#editpage h1 { margin:0px; padding:8px 20px; border-bottom:1px solid #000; font-size:1.6em; background:#f0f0f9; }
#editpage #user { position:absolute; top:10px; right:20px; }
#editpage form { margin:1%; width:98%; }
#editpage form table { width:100%; border-collapse:collapse; }
#editpage form table tr { border:2px solid #fff; background-color:#eee; }
#editpage form table td { padding:0 2px; }
#editpage form table td.abstract { width:49%; }
#editpage form table td.label { width:6em; text-align:right; }
#editpage form table td.hint { width:10em; font-size:0.9em; color:#900; }
#editpage form input[type="text"], textarea { width:99%; }
#editpage #procmenu { margin:20px 0 0; padding:5px 20px 7px; border:1px solid black; border-width:1px 0; background:#f0f0f9; }
#editpage #procmenu a { padding-right:10px; }
#editpage #proc { padding:0 20px; overflow-y:auto; height:300px; font-family:monospace; font-size:12px; white-space:pre; }
#editpage #proc td { border-bottom:1px solid #eee; padding:2px 10px; }

