{% extends "skeleton.html" %}
{% block body %}
   <p>This site lists publicly accessible philosophy papers that have
     recently appeared somewhere on the internet.</p>

   <p>At this stage (July 2015), new features, bugs, and bugfixes
   are added frequently. You can track the
   progress on github <a href="https://github.com/wo/opp-web/commits/master">here</a> and
 <a href="https://github.com/wo/opp-tools/commits/master">here</a>.</p>

   <p>Contact:
<script type="text/javascript">
//<![CDATA[//><!--
document.write(('<'+'a href="mailto:woyumsu.de">woyumsu.de<'+'/a>').replace(/y/g, '@'));
//--><!]]>
</script>
<noscript>wo at umsu dot de</noscript>
  </p>

 {% endblock %}
