{% extends "skeleton.html" %}
{% block body %}
   <p>This site lists publicly accessible philosophy papers that have
     recently appeared somewhere on the internet.</p>

   <p>At this stage (May 2015), new features, bugs, and improvements
   are added frequently. You can track the
   progress <a href="https://github.com/wo/opp-web">on github</a>.</p>

   <p>Contact:
<script type="text/javascript">
//<![CDATA[//><!--
document.write(('<'+'a href="mailto:woyumsu.de">woyumsu.de<'+'/a>').replace(/y/g, '@'));
//--><!]]>
</script>
<noscript>wo at umsu dot de</noscript>
  </p>

 {% endblock %}
