<html>
<style>
body { font-family:sans-serif }
label { display:block }
input, select { margin-bottom:10px; }
</style>
<body>
<h2>Add/Edit source</h2>

<form action="{{ rootdir }}edit-source" method="post">
<label for="source_id">ID:</label>
<input type="text" name="source_id" value="{{ source['source_id'] }}"><br>
<label for="type">Type:</label>
<select size="1" name="type">
<option value='1'{% if source['type'] == 1 %} selected='selected'{% endif %}>1 - personal site</option>
<option value='2'{% if source['type'] == 2 %} selected='selected'{% endif %}>2 - repository/journal</option>
<option value='3'{% if source['type'] == 3 %} selected='selected'{% endif %}>3 - weblog</option>
</select><br>
<label for="url">URL:</label>
<input type="text" size="50" name="url" value="{{ source['url'] }}"><br>
<label for="default_author">Default author:</label>
<input type="text" size="50" name="default_author" value="{{ source['default_author'] }}"><br>
<label for="name">Name: 
<a href="javascript:(function(){var f=document.forms[0].elements; f['name'].value=f['default_author'].value+(f['type'].selectedIndex==0 ? (f['url'].value.indexOf('researchgate') > -1 ? '\'s ResearchGate profile' : '\'s site') : '\'s blog')})()">set</a></label>
<input type="text" size="50" name="name" value="{{ source['name'] }}"><br>
<label for="status">Status:</label>
<select size="1" name="status">
<option value='0'>0 - inactive</option>
<option value='1' selected='selected'>1 - active</option>
</select><br>

<input type="submit" name="submit" value="Submit">
{% if source['source_id'] %}
<input type='submit' name='submit' value='Remove Source'>
{% endif %}

</form>
</body>
</html>
