<html>
<style>
body { font-family:sans-serif }
label { display:block }
input, select { margin-bottom:10px; }
</style>
<body>
<h2>Add/Edit source</h2>

<form action="{{ rootdir }}edit-source" method="post">
<input type="hidden" name="source_id" value="{{ source['source_id'] }}"><br>
<label for="type">Type:</label>
<select size="1" name="type">
<option value='1'{% if source['type'] == 1 %} selected='selected'{% endif %}>1 - personal site</option>
<option value='2'{% if source['type'] == 2 %} selected='selected'{% endif %}>2 - repository/journal</option>
<option value='3'{% if source['type'] == 3 %} selected='selected'{% endif %}>3 - weblog</option>
</select><br>
<label for="url">URL:</label>
<input type="text" size="50" name="url" value="{{ source['url'] }}"><br>
<label for="default_author">Default author:</label>
<input type="text" size="50" name="default_author" value="{{ source['default_author'] }}" 
       onchange="if (this.form.elements['name'].value=='') this.form.elements['name'].value=this.value+'\'s site'"><br>
<label for="name">Name:</label>
<input type="text" size="50" name="name" value="{{ source['name'] }}"><br>
<label for="status">Status:</label>
<select size="1" name="status">
<option value='0'{% if source['status'] == 0 %} selected='selected'{% endif %}>0 - inactive</option>
<option value='1'{% if source['status'] == 1 %} selected='selected'{% endif %}>1 - active</option>
</select><br>

<input type="submit" name="submit" value="Submit">
{% if source['source_id'] %}
<input type='submit' name='submit' value='Remove Source'>
{% endif %}

</form>
</body>
</html>
