{% extends "skeleton.html" %}
{% block body %}
  <ol class='doclist'>
  {% for loc in locs %}
    <li id='{{ loc.location_id }}' class='{{ loc.type }}'>
      <div class='iLoc'>
        <span>Location {{ loc.location_id }}</span>:
        <a href='{{ loc.url }}'>{{ loc.url }}</a> ({{ loc.filetype}})
      </div>
      <div class='iFooter'>
        <span class='iInfo'>Checked: {{ loc.last_checked }}</span>
        | <span class='iInfo'>Spamminess: {{ loc.spamminess }}</span>
        | Source: <a href='{{ loc.source_url }}'>{{ loc.source_url }}</a>
      </div>
      {% if loc.document_id %}
        <div class='iTitle'>
          <a href='{{ loc.url }}'>{{ loc.authors }}: {{ loc.title|safe }}</a>
        </div>
        <div class='iAbstract'>{{ loc.abstract|safe }}</div>
        <div class='iFooter'>
          <span class='iInfo'>Document: {{ loc.document_id }}</span>
          | <span class='iInfo'>Confidence: {{ loc.meta_confidence }}</span>
          | <span class='iInfo'>Found on {{ loc.found_date }}</span>
      {% endif %}
      {% if loc.error %}
        <div class='error'>{{ loc.error }}<div>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
  <div id='nav'>
  {% if locs[0] %} 
    <a href='?start={{ next_offset }}'>Next</a>
  {% else %}
    No more documents.
  {% endif %}
  </div>
{% endblock %}
