{% extends "skeleton.html" %}
{% block body %}
  <h2>Tracked sources</h2>

  <p>Jump to: <a href="#personal">personal pages</a> &mdash; 
    <a href="#weblogs">weblogs</a> &mdash; 
    <a href="#other">journals, repositories, etc.</a></p>


  <h3 id="personal">Personal Pages</h3>
  <div class='sources multicol'>
  {% for src in srcs1 %}
    {% if admin %} 
      {{ src.source_id }}. [{{ src.num_papers }}]
      {% if src.parent_id %} [sub of {{ src.parent_id }}] {% endif %}
    {% endif %}
      <a href='{{ src.url }}' class='src{{ src.status }}'>{{ src.default_author }}</a>{% 
      if not admin and src.status > 1 or src.num_papers == 0 %}*{% endif %}
    {% if admin %}
      {% if src.status > 1 %} (Error {{ src.status }}) {% endif %}
    {% endif %}
      <br>
  {% endfor %}
  </div>
  
  <h3 id="weblogs">Weblogs</h3>
  <div class='sources multicol'>
  {% for src in srcs3 %}
    {% if admin %} 
      {{ src.source_id }}.
    {% endif %}
      <a href='{{ src.url }}' class='src{{ src.status }}'>{{ src.name }}</a>{% 
      if src.status > 1 %}*{% endif %}
    {% if admin and src.status > 1 %} (Error {{ src.status }}) {% endif %}
      <br>
  {% endfor %}
  </div>


  <h3 id="other">Repositories, Open Access Journals, etc.</h3>
  <div class='sources'>
  {% for src in srcs2 %}
    {% if admin %} 
      {{ src.source_id }}. [{{ src.num_papers }}]
      {% if src.parent_id %} [sub of {{ src.parent_id }}] {% endif %}
    {% endif %}
      <a href='{{ src.url }}' class='src{{ src.status }}'>{{ src.name }}</a>{% 
      if not admin and src.status > 1 or src.num_papers == 0 %}*{% endif %}
    {% if admin and src.status > 1 %} (Error {{ src.status }}) {% endif %}
      <br>
  {% endfor %}
  </div>
  
  <p>* Sources marked with a star are currently
  inaccessible or don't seem to contain any links to papers.</p>

{% endblock %}
