{% extends "skeleton.html" %}
{% block body %}
  {% if topic %}
    <h3>{{ topic }}</h3>
  {% endif %}
  <ol class='doclist'>
  {% for doc in docs %}
    <li id='{{ doc.doc_id }}'>
      {% if admin %}
        <div class='iTrain'>
        <a href="{{ rootdir }}train?topic={{topic}}&topic_id={{topic_id}}&doc={{doc.doc_id}}&class=1&next={{request.path}}"
           ><img src="{{ rootdir }}static/up.png" alt="up" height="20" class="up"></a><br>
        {{ doc.strength }}<br>
        <a href="{{ rootdir}}train?topic={{topic}}&topic_id={{topic_id}}&doc={{doc.doc_id}}&class=0&next={{request.path}}"
           ><img src="{{ rootdir}}static/down.png" alt="down" height="20" class="down"></a><br>
        </div>
      {% endif %}
      <div class='iTitle'>
        <a href='{{ doc.url }}'>{{ doc.authors }}: {{ doc.title|safe }}</a>
        {% if doc.error %}
          <div class='error'>{{ doc.error }}<div>
        {% endif %}
      </div>
      <div class='iUrl'>
        <a href='{{ doc.url }}'>{{ doc.short_url|safe }} ({{ doc.filetype }}, {{ doc.length }} Words)</a>
      </div>
      <div class='iAbstract'>{{ doc.abstract|safe }}</div>
      {% if doc.topics %}
      <div class='iTopics'>
        {% for topic, strength in doc.topics %}
           <a class='iTopic{{strength}}' href='{{ rootdir}}t/{{ topic }}'>{{ topic }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class='iFooter'>
        <span>Found {{ doc.reldate|safe }} on <a href="{{ doc.src }}">{{ doc.short_src }}</a></span>
        {% if admin %}
          <span>doc {{ doc.doc_id }}</span>
          <span>confidence: {{ doc.meta_confidence }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
  <div id='nav'>
  {% if docs[0] %} 
    <a href='?start={{ next_offset }}'>Next</a>
  {% else %}
    No more documents.
  {% endif %}
  </div>
{% endblock %}
