{% extends "skeleton.html" %}
{% block body %}
  <ol class='doclist'>
  {% for doc in docs %}
    <li>
      <div class='daysep'>{{ doc.deltadate }}</div>
      {% if topic and admin %}
        <div class='iTrain'>
        <a href="{{ rootdir }}train?topic={{topic}}&topic_id={{topic_id}}&doc={{doc.doc_id}}&class=1&next={{request.path}}"
           ><img src="{{ rootdir }}static/up.png" alt="up" height="20" class="up"></a><br>
        {{ doc.strength }}<br>
        <a href="{{ rootdir}}train?topic={{topic}}&topic_id={{topic_id}}&doc={{doc.doc_id}}&class=0&next={{request.path}}"
           ><img src="{{ rootdir }}static/down.png" alt="down" height="20" class="down"></a><br>
        </div>
      {% endif %}
      {% if admin %}
        <div class="iEdit" onclick="edit({{ doc.doc_id }})">Edit</div>
      {% endif %}
      <div class='iAuthor'>
        <a href='{{ doc.url }}' id='authors{{doc.doc_id}}'>{{ doc.authors }}</a>
      </div>
      <div class='iTitle'>
        <a href='{{ doc.url }}' id='title{{doc.doc_id}}'>{{ doc.title|safe }}</a>
      </div>
      {% if doc.error %}
        <div class='error'>{{ doc.error }}<div>
      {% endif %}
      <div class='iUrl'>
        <a href='{{ doc.url }}'>{{ doc.short_url|safe }} ({{ doc.filetype }}, {{ doc.numwords }} words)</a>
      </div>
      <div class='iAbstract' id='abstract{{doc.doc_id}}'>{{ doc.abstract|safe }}</div>
      {% if doc.topics %}
      <div class='iTopics'>
        {% for topic, strength in doc.topics %}
           <a class='iTopic{{strength}}' href='{{ rootdir}}t/{{ topic }}'>{{ topic }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class='iFooter'>
        <span>Found {{ doc.reldate|safe }} on <a href="{{ doc.source_url }}">{{ doc.short_src }}</a></span>
        {% if admin %}
          <span>doc {{ doc.doc_id }}</span>
          {% if doc.loc_id %}<span>loc {{ doc.loc_id }}</span>{% endif %}
          <span>confidence: {{ doc.meta_confidence }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
  <div id='nav'>
  {% if docs[0] %} 
    <a href='?start={{ next_offset }}'>Next</a>
  {% else %}
    No more documents.
  {% endif %}
  </div>
{% endblock %}
