{% extends "skeleton.html" %}
{% block body %}

  <h2>Log in</h2>
 
  <p>If you don't have an account, <a href="{{ rootdir }}signup">sign up</a> first!</p>

  <form class="loginform" action="{{ url_for('login') }}" method='post'>
    {{ form.hidden_tag() }}
     
    {{ form.username.label }}
    {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {{ form.username }}
     
    {{ form.password.label }}
    {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
     
{% endblock %}

