{% extends "skeleton.html" %}
{% block body %}

<h2>Questions and Answers</h2>

<h4>How do I use this site?</h4>

<p>The <a href="{{ rootdir }}">main page</a> lists philosophy papers
and blog posts that have recently appeared somewhere on the
internet. To narrow down the list, select an area from the dropdown
menu (for example, "Philosophy of Mind").</p>

<p>You'll probably get more useful results if you set up a personal
news feed. To do so, you have to sign up for an account, so the site
can remember your settings. You then have the opportunity to "upvote"
and "downvote" any item. By "upvoting", you signal that in the future
you want to see more items like this, by "downvoting" that you
don't. (The votes are not value judgements; their only effect is to
train your personal news feed.)</p>

<h4>Where does the content come from?</h4>

<p><a href="{{ rootdir }}sources">Here is the list of currently
tracked source pages.</a> If a new paper or (relevant) blog post
appears on one of these pages, it will soon appear on <i>Philosophical
Progress</i>.</p>

<h4>Can you start tracking my papers?</h4>

<p>Sure. If you have a webpage where you host your papers, send an
email with the address to
<script type="text/javascript">
//<![CDATA[//><!--
document.write(('<'+'a href="mailto:woyumsu.de">woyumsu.de<'+'/a>').replace(/y/g, '@'));
//--><!]]>
</script>
<noscript>wo at umsu dot de</noscript>
</p>

<p>However, note that <i>Philosophical Progress</i> only finds your
papers if they are publicly accessible &mdash; without forced
registration or payments. So papers on most journal pages are out, as
are things on acedemia.edu.</p>

<p>If you don't have a personal webpage, another easy option is to
upload your papers
to <a href="http://philpapers.org">PhilPapers</a>. Everything that's
uploaded to PhilPapers will also appear here.</p>

<h4>Other questions? suggestions? bug reports?</h4>

<p>Send me an email:
<script type="text/javascript">
//<![CDATA[//><!--
document.write(('<'+'a href="mailto:woyumsu.de">woyumsu.de<'+'/a>').replace(/y/g, '@'));
//--><!]]>
</script>
<noscript>wo at umsu dot de</noscript>
</p>

{% endblock %}
