<!doctype html>

<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Philosophical Progress</title>
<link rel="stylesheet" href="{{ rootdir }}static/style.css">
<!--script type="text/javascript" src="static/jquery.js"></script-->
</head>
<body>

<div id="wrap">

  <div id="navig">

    <span>
      <!--a href="about">What is this?</a-->
    </span>
    
    <span>
      <!--a href="add">Add your papers</a-->
    </span>

    <span id="user">
    {% if user %}
      Hello {{ user }}
    {% endif %}
    </span>
  </div>

  <div id="title">
    <h1><a href="{{ rootdir }}">Philosophical Progress</a></h1>
    <h2>Under construction - April 2015</h2>
  </div>

  <div id="content">


  {% for message in get_flashed_messages() %}
    <div class="msg">{{ message }}</div>
  {% endfor %}

  {% block body %}
  {% endblock %}
  
  </div>

</div>

</body>
</html>
